decoration {
    border: 1px solid rgba(0,0,0,0.8);
    box-shadow: none;
    outline: none;
}
window.background.csd {
    background: none;
    background-color: rgba(20,20,20,0.95);
    border: none;
}
#headerbar {
    background: none;
    background-color: rgba(20,20,20,0.95);
    box-shadow: none;
    border: none;
    padding: 5px 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
#headerbar entry {
    background: rgba(0,0,0,0.4);
    color: #ffffff;
    font-size: 0.6em;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0, 0.4);
    outline: none;
    margin:10px 0;
}
#headerbar entry:focus {
    border: 1px solid rgba(255,255,255, 0.4);
    outline: none;
    box-shadow: none;
}

button decoration {
    border-radius: initial;
    border: initial;
}

#mainbox {
    background: none;
    padding: 10px;
}

#mainbox button {
    background: none;
    border: 1px solid rgba(255,255,255, 0.4);
}

#mainbox button:hover {
    background-color: rgba(255,255,255,0.1);
}

#browser-btn {
    padding: 18px 12px;
    font-size: 0.8rem;
}

#browsericon {
    margin-bottom: 6px;
}